body{

    margin:0;
    width:
}
#main{

    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

#headerBar{

    height:8px;
    background-color: #252627;
}


#header{

    display:flex;
    justify-content:space-between;
    padding-bottom:20px;
    border-bottom:1px solid #888;
}

#navigation a{

    text-decoration:none;
    text-transform:uppercase;
}

#news{

    display:flex;
    border-bottom: 1px solid #888;
}

#motto p{

    color:#5094d8;
    font-family:Verdana;
    font-size:32px;
    text-align:center;
}

#circles{

    margin-top:5%;
    margin-bottom:5%;
    display:flex;
    justify-content: center;
}

#circle1{

    background-color: #5094d8;
    width:200px;
    height:200px;
    border-radius:50%;
    opacity:0.7;
    margin-right:-30px;
}

#circles p{

    color:rgb(233, 233, 233);
    text-align:center;
    padding:25%;
    font-size:26px;
    text-transform:uppercase;
}

#circle2{

    background-color: #5094d8;
    width:200px;
    height:200px;
    border-radius:50%;
    opacity:0.7;
    
}

#circle3{

    background-color: #5094d8;
    width:200px;
    height:200px;
    border-radius:50%;
    opacity:0.7;
    margin-left:-30px;
    
}


#circle1:hover{
    opacity:0.85;
}

#circle2:hover{
    opacity:0.85;
}

#circle3:hover{
    opacity:0.85;  
}

#essential{
    display:flex;
    justify-content: space-between;
}

#ess1{
    margin-left:2%;
    margin-right:2%;
    width:20%;
}

#ess2{
    margin-left:2%;
    margin-right:2%;
    width:20%;
}

#ess3{
    margin-left:2%;
    margin-right:2%;
    width:20%;
}

#ess4{
    margin-left:2%;
    margin-right:2%;
    width:20%;
}

#footer{

    background-color: #252627;
    background-image:url(zabek.jpg);
    background-repeat:repeat-x;
    height:200px;
    margin-top: 40px;
    color:#eee;
}

#essential h3{

    border-bottom: 1px solid #888;
}

#info p{

    color: rgb(161, 161, 161);
    text-align:center;
    padding:1%;
    
}