body{
    background-color: #ccc;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-image:url(tlo.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;

}

#box{
  
    
    width:460px;
    height:900px;
    }

#headerlogo{
    
    display:flex;
    justify-content: center;
}

#headerp{
    display:flex;
    justify-content:center;
}

#headerp p{
   
    font-family:arial;
    color:#cbd6df;
    font-size:11px;   
    
}

#pics{
    background-color:#fff;
    width:auto;
    height:auto;
  
    
}

.frame{    
    display:flex;
    justify-content:space-evenly;
    margin:auto;
}
.frame img{
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
}

#cont{
    width:100%;
    height:auto;
    
    text-align:center;
}
#cont h2{
    color:#cbd6df;
    font-weight: normal;
}

#cont p{
    font-family:arial;
    color:#cbd6df;
    font-size:13px;
    text-align:justify;
    line-height: 32px;
}

#underli{
    border-bottom: 1px dotted #819791;
}

#underli:hover{
    border-bottom: 1px solid #819791;
}



#mail{
    width:100%;
    display:flex;
    justify-content: center;
}

#footer{
    display:flex;
    justify-content: center;
}

#footer p{
    font-family:arial;
    font-size:11px;
    color:#444;
}