body{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content: center;
    align-items:center;
    
}

#space{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.box{
    width: 300px;
    height:300px;
    background-color: rgb(221, 238, 232);
    border:1px solid black;
    font-family:Cambria;
    font-size:18px;
    margin-left:10px;
    margin-right:10px;
    margin-top:100px;
    
    
}

#btn{
    margin-top:25px;
    align-self:flex-end;
    width:400px;
    height:100px;
    font-size:40px;
    color:white;
    background-color:red;
}

#btn:hover{
    color:lightgray;
    background-color: brown;
}

.front{
    
    animation:trs_forward 1s linear 0s normal;
    z-index: 3;
    animation-fill-mode: forwards;
    
}

.back{
    animation:trs_behind 1s linear 0s normal;
    z-index: -3;
    animation-fill-mode: forwards;
}

.front_rev{
    
    animation:trs_forward_rev 1s linear 0s normal;
    z-index: 3;
    animation-fill-mode: forwards;
    
}

.back_rev{
    animation:trs_behind_rev 1s linear 0s normal;
    z-index: -3;
    animation-fill-mode: forwards;
}

.front_again{
    
    animation:trs_forward_again 1s linear 0s normal;
    z-index: 3;
    animation-fill-mode: forwards;
    
}

.back_again{
    animation:trs_behind_again 1s linear 0s normal;
    z-index: -3;
    animation-fill-mode: forwards;
}

.front_again_rev{
    
    animation:trs_forward_again_rev 1s linear 0s normal;
    z-index: 3;
    animation-fill-mode: forwards;
    
}

.back_again_rev{
    animation:trs_behind_again_rev 1s linear 0s normal;
    z-index: -3;
    animation-fill-mode: forwards;
}


@keyframes trs_forward{
    0% {transform: translateX(0px) translateY(0px) translateZ(0px)} 
    100% {transform: translateX(40px) translateY(0px) translateZ(0px) scale(1.1)} 
}

@keyframes trs_behind{
    0% {transform: translateX(0px) translateY(0px) translateZ(0px)}
    100% {transform: translateX(-40px) translateY(0px) translateZ(0px) scale(0.9)}  
}

@keyframes trs_forward_rev{
    0% {transform: translateX(40px) translateY(0px) translateZ(0px) scale(1.1)}
    100% {transform: translateX(0px) translateY(0px) translateZ(0px) scale(1)}  
}

@keyframes trs_behind_rev{
    0% {transform: translateX(-40px) translateY(0px) translateZ(0px) scale(0.9)}
    100%   {transform: translateX(0px) translateY(0px) translateZ(0px) scale(1)}
}

@keyframes trs_forward_again{
    0% {transform: translateX(0px) translateY(0px) translateZ(0px)} 
    100% {transform: translateX(-40px) translateY(0px) translateZ(0px) scale(1.1)} 
}

@keyframes trs_behind_again{
    0% {transform: translateX(0px) translateY(0px) translateZ(0px)}
    100% {transform: translateX(40px) translateY(0px) translateZ(0px) scale(0.9)}  
}

@keyframes trs_forward_again_rev{
    0% {transform: translateX(-40px) translateY(0px) translateZ(0px) scale(1.1)}  
    100% {transform: translateX(0px) translateY(0px) translateZ(0px) scale(1)}
}

@keyframes trs_behind_again_rev{
    0% {transform: translateX(40px) translateY(0px) translateZ(0px) scale(0.9)}
    100% {transform: translateX(0px) translateY(0px) translateZ(0px) scale(1)}
}