body{
    display:flex;
    justify-content: center;
    align-items:center;
    
}

.box{
    width: 300px;
    height:300px;
    background-color: rgb(221, 238, 232);
    border:1px solid black;
    font-family:Cambria;
    font-size:18px;
    margin-left:10px;
    margin-right:10px;
    margin-top:100px;
    
    
    
}

.front{
    
    animation:trs_forward 2s linear 0s normal;
    z-index: 3;
    animation-fill-mode: forwards;
    
}

.back{
    animation:trs_behind 2s linear 0s normal;
    z-index: -3;
    animation-fill-mode: forwards;
}

@keyframes trs_forward{
    0% {transform: translateX(0px) translateY(0px) translateZ(0px)} 
    100% {transform: translateX(40px) translateY(0px) translateZ(0px) scale(1.1)} 
}

@keyframes trs_behind{
    0% {transform: translateX(0px) translateY(0px) translateZ(0px)}
    100% {transform: translateX(-40px) translateY(0px) translateZ(0px) scale(0.9)}  
}