/*http://make-lemonade.co/themes/selfy/index.html


w wyzszych query dac wieksze height w #full

don't use select for menu in low media query

dots (:after) in about me, what i do, get in touch
 */


 body{
    margin:0;
 }

#full{
    height:1575px;
    margin:0;
    width:600px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    
}

#box1{
    margin:0;
    background-image: url('box1_back.jpg');
    background-repeat: no-repeat;

    background-position: 50% 50% ;
    background-size:cover;
}

#content{
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
    
    display:grid;
    grid-template-columns: 60% 5% 25%;
    grid-template-rows:15% 80%;
    grid-template-areas:
    "header header header "
    "text text .";
}

#header{
    grid-area:header;
    display:grid;
    grid-template-columns:30% 10% 60%;
    grid-template-rows:100%;
    grid-template-areas:
    "logo . menu";
    border-bottom:1px solid #cad2d7;
}

#logo{
    grid-area:logo;
   
}


#menu{
    grid-area:menu;
    font-family: 'robotobold';
    font-size: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}

#menu .active{
    background-color: #ffc000;
    color: #fff;
    
}

#menu a,  #text a{
    text-decoration: none;
    color:#2d3438;
    font-family: 'robotobold';
    font-weight: normal;
    
}

#menu a{
    padding: 0.3em 1.2em;
    border-radius: 3px;
    height:30px;
}

#text a{
    padding:0px;
}

#text{
    grid-area:text;
    margin-left:15px;
    
}

#text h1{
    font-family:'robotoblack';
    font-size: 72px; 
    color: #fff;
    font-weight: normal;
    letter-spacing: -2px;
}

#text h3{
    font-family: 'aleoitalic';
    letter-spacing: 0;
    color:#e2e2e2;
    font-size: 28px;
    margin-bottom:0px;
}

#text h5{
    color: #fff;
    margin-top:0px;
    font-family: 'robotobold';
    font-weight: normal;
    font-size: 24px;
}

#text p{
    word-wrap: break-word;
    font-family: 'robotoregular';
    font-size: 18px;
    color: #fff;
}





/* -------- part 2 -------- */

#content2{
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
    justify-content: center;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 80%;
    grid-template-rows: 30% 30% 30%;

}

#content2 div{
    border: 1px solid red;
}












@font-face {
    font-family: robotobold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoblack;
    src: url(Roboto-Black.ttf);
}

@font-face{
    font-family: aleoitalic;
    src: url(Aleo-Italic.ttf);
}

@font-face {
    font-family: robotoregular;
    src: url(Roboto-Regular.ttf);
}
