/*http://make-lemonade.co/themes/selfy/index.html

popoprawiać fonty miedzy queries
post.h
w wyzszych query dac wieksze height w #full

 */


 body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f5;
 }

#full{
    height:1575px;
    margin:0;
    width:600px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    
}

#box1{
    margin:0;
    background-image: url('box1_back.jpg');
    background-repeat: no-repeat;

    background-position: 50% 50% ;
    background-size:cover;
}

#content{
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
    
    display:grid;
    grid-template-columns: 60% 5% 25%;
    grid-template-rows:15% 80%;
    grid-template-areas:
    "header header header "
    "text text .";
}

#header{
    grid-area:header;
    display:grid;
    grid-template-columns:30% 10% 60%;
    grid-template-rows:100%;
    grid-template-areas:
    "logo . menu";
    border-bottom:1px solid #cad2d7;
}

#logo{
    grid-area:logo;
   
}


#menu{
    grid-area:menu;
    font-family: 'robotobold';
    font-size: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}

#menu .active{
    background-color: #ffc000;
    color: #fff;
    
}

#menu a:hover{
    background-color: #656a6f;
    color: #fff;
}

#menu a,  #text a, .small_art a, #footer a{
    text-decoration: none;
    color:#2d3438;
    font-family: 'robotobold';
    font-weight: normal;
    
}

#menu a{
    padding: 0.3em 1.2em;
    border-radius: 3px;
    height:30px;
}

#text a{
    padding:0px;
}

#text a:hover{
    color:#ffc000;
}

#text{
    grid-area:text;
    margin-left:15px;
    
}

#text h1{
    font-family:'robotoblack';
    font-size: 72px; 
    color: #fff;
    font-weight: normal;
    letter-spacing: -2px;
    word-wrap: break-word;
}

#text h3{
    font-family: 'aleoitalic';
    letter-spacing: 0;
    color:#e2e2e2;
    font-size: 28px;
    margin-bottom:0px;
    word-wrap: break-word;
}

#text h5{
    color: #fff;
    margin-top:0px;
    font-family: 'robotobold';
    font-weight: normal;
    word-wrap: break-word;
    font-size: 24px;
}

#text p{
    word-wrap: break-word;
    font-family: 'robotoregular';
    font-size: 18px;
    color: #fff;
}





/* -------- part 2 -------- */

#content2{
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
    justify-content: center;
    align-items: center;;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 80%;
    grid-template-rows: 30% 30% 30%;

}

.small_art{
    margin-bottom: 30px;
}

.small_art h2{
    font-family: 'robotobold';
    font-weight: normal;
    font-size: 36px;
    color: #2d3438;
    margin-top:15px;
    word-wrap: break-word;
}

.small_art p{
    font-family: 'robotoregular';
    font-size: 16px;
    color: #656a6f;
    word-wrap: break-word;
}

.small_art a{
    
    padding-top: 5px;
    padding-bottom: 8px;
    position: relative;
    padding-left: 22px;
}

.small_art a:hover{
    
    color:#ffc000;
    
}

.small_art a::before{
    content: "➝";
    /* U+279D */

    font-size: 16px;
    left: 3px;
    top: 6px;
    position: absolute;
    cursor: pointer;
    color: #ffc000;
}

.small_art h2::after{
    content: ".";
    font-size: 56px;
    position: relative;
    padding-left: 3px;
    color: #ffc000;
    font-family: 'robotobold';
    font-weight: normal;
}



/* -------- foooter -------- */


#footer{
    grid-area:footer;
    border-top: 1px solid #cad2d7;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    
    
}

#footer_top{
    margin-top:30px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

#footer_top img{
    height:31px;
    width:31px;
   
}

#footer_bottom{
    margin-top:30px;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#footer_bottom img{
    height:19px;
    width:45px;
    
}

#foot_span{
    font-family:'robotoregular';
    font-size:16px;
    color:#9fa6aa;
    
}

#footer img:hover{
    filter: blur(1px) brightness(20%);

}

/* -------- about -------- */

#content_about{
    
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
        
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:9.8% 77% 10%;
    grid-template-areas:
    "header "
    "text"
    "footer";
    
}

#full_about{
    height:1575px;
    margin:0;
    width:600px;
    
    
}

#text_about{
    grid-area:text;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    margin-top:5px;
}

#img_about img{
    width: 100%;
    border: 5px solid white;
}

#text_about_lower h1{
    font-family: 'robotobold';
    font-weight: normal;
    font-size:66px;
}


#text_about_lower h1::after{
    content: ".";
    font-size: 56px;
    position: relative;
    padding-left: 3px;
    color: #ffc000;
    font-family: 'robotobold';
    font-weight: normal;
}

#secondary_about{
    font-size: 24px;
    line-height: 32px;
    font-family: 'aleoitalic';
}

#paragraphs_about{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 50%;
}

#paragraphs_about p{
    color: #656a6f;
    font-family:'robotoregular';
    font-size:16px;
    line-height:24px;

}

/* -------- gallery -------- */


#full_gallery{
    height:5600px;
    /* 2900 */
    margin:0;
    width:600px;
    
    
}


#content_gallery{
    
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
        
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:2% 95% 3%;
    grid-template-areas:
    "header "
    "text"
    "footer";
    
}


#text_gallery{
    grid-area:text;
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-top:5px;
}

.small_text_gallery{
    display:flex;
    flex-direction:column;
   
}

#text_gallery img{
    width:100%;
    border:5px solid white;
    margin-top:15px;
}

#text_gallery div h2{
    font-family:'robotobold';
    font-size:36px;
    font-weight: normal;
    line-height: 100%;
    color: #2d3438;
    letter-spacing: -1px;
}

#text_gallery div h2::after{
    content: ".";
    font-size: 56px;
    position: relative;
    padding-left: 3px;
    color: #ffc000;
    font-family: 'robotobold';
    font-weight: normal;
}

#text_gallery div .secondary_gallery{
    color: #3c4a52;
    font-family: 'aleoitalic';
    font-size:24px;
    line-height: 32px;
    word-wrap: break-word;
}

#text_gallery div p{
    font-family:'robotoregular';
    font-size:16px;
    line-height:24px;
    color:#656a6f;
    word-wrap: break-word;
}

#text_gallery div p a{
    text-decoration: none;
    padding-top:8px;
    padding-bottom: 8px;
    position: relative;
    padding-left: 22px;
    color:#3c4a52;
    font-family:'robotobold';
    font-size:16px;

}

#text_gallery div p a:hover{
    color:#ffc000;
}

#text_gallery div p a::before{
    content: "➝";
    /* U+279D */

    font-size: 16px;
    left: 3px;
    top: 6px;
    position: absolute;
    cursor: pointer;
    color: #ffc000;
}

/* -------- blog -------- */


#full_blog{
    height:3500px;
    margin:0;
    width:600px;
    
    
}


#content_blog{
    
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
        
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:3% 94% 3%;
    grid-template-areas:
    "header "
    "text"
    "footer";
    
}

#text_gallery h6{
    font-family: 'robotobold';
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0px;
    position: relative;
    color: #ffc000;
    margin-top:-20px;
}


.small_text_gallery a{
    text-decoration: none;

}

#text_gallery .small_text_gallery h2:hover{
    color: #ffc000;
}


#text_gallery div .secondary_gallery{
    color: #3c4a52;
    font-family: 'aleoitalic';
    font-size:24px;
    line-height: 32px;
    word-wrap: break-word;
}

#text_gallery div p{
    font-family:'robotoregular';
    font-size:16px;
    line-height:24px;
    color:#656a6f;
    word-wrap: break-word;
}

#text_gallery div p a{
    text-decoration: none;
    padding-top:8px;
    padding-bottom: 8px;
    position: relative;
    padding-left: 22px;
    color:#3c4a52;
    font-family:'robotobold';
    font-size:16px;

}

#text_gallery div p a:hover{
    color:#ffc000;
}

#text_gallery div p a::before{
    content: "➝";
    /* U+279D */

    font-size: 16px;
    left: 3px;
    top: 6px;
    position: absolute;
    cursor: pointer;
    color: #ffc000;
}

/* -------- contact -------- */

#full_contact{
    height:1300px;
    
    margin:0;
    width:600px;
    
    
}


#content_contact{
    
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
        
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:8% 80% 9%;
    grid-template-areas:
    "header "
    "text"
    "footer";
}

#text_contact{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:60% 40%;
}

#contact1 h1{
    font-family:'robotobold';
    font-size:66px;
    font-weight: normal;
    line-height: 100%;
    color: #2d3438;
    letter-spacing: -1px;
}

#contact1 h1::after{
    content: ".";
    font-size: 66px;
    position: relative;
    padding-left: 3px;
    color: #ffc000;
    font-family: 'robotobold';
    font-weight: normal;
}

#contact2 h2, #contact1 h2{
    font-family:'robotobold';
    font-size:36px;
    font-weight: normal;
    line-height: 100%;
    color: #2d3438;
    letter-spacing: -1px;
}

#contact2 h2::after, #contact1 h2::after, #contact1 h3::after{
    content: ".";
    font-size: 36px;
    position: relative;
    padding-left: 3px;
    color: #ffc000;
    font-family: 'robotobold';
    font-weight: normal;
}


#text_contact div .secondary_gallery, #text_post div .secondary_gallery, #text_styles div .secondary_gallery{
    color: #3c4a52;
    font-family: 'aleoitalic';
    font-size:24px;
    line-height: 32px;
    word-wrap: break-word;
}

#text_contact div p, #text_post div p, #text_styles div p{
    font-family:'robotoregular';
    font-size:16px;
    line-height:24px;
    color:#656a6f;
    word-wrap: break-word;
}

#text_contact div p a, #text_post div p a, #text_styles div p a{
    text-decoration: none;
    padding-top:8px;
    padding-bottom: 8px;
    position: relative;
    padding-left: 22px;
    color:#3c4a52;
    font-family:'robotobold';
    font-size:16px;

}

#text_contact div p a:hover, #text_post div p a:hover, #text_styles div p a:hover{
    color:#ffc000;
}

#text_contact div p a::before, #text_post div p a::before, #text_styles div p a::before{
    content: "➝";
    /* U+279D */

    font-size: 16px;
    left: 3px;
    top: 6px;
    position: absolute;
    cursor: pointer;
    color: #ffc000;
}

#contact2{
    border-top:1px solid #cad2d7;
    margin-top:10px;
}

#text_contact a, #text_post a, #text_styles a{
    text-decoration: none;
}

#text_contact div a p, #text_post div a p,  #text_styles div a p{
    
    padding-top:8px;
    padding-bottom: 8px;
    position: relative;
    padding-left: 22px;
    color:#656a6f;
    font-family:'robotoregular';
    font-size:16px;

}

#text_contact .bold, #text_post .bold, #text_styles .bold{
    
    padding-top:8px;
    padding-bottom: 8px;
    position: relative;
    padding-left: 22px;
    color:#656a6f;
    font-family:'robotobold';
    font-size:16px;

}

#text_contact div a p:hover, #text_post div a p:hover, #text_styles div a p:hover{
    color:#ffc000;
}

#text_contact div a p::before, #text_post div a p::before, #text_styles div a p::before{
    content: "➝";
    /* U+279D */

    font-size: 16px;
    left: 3px;
    top: 6px;
    position: absolute;
    cursor: pointer;
    color: #ffc000;
}

#form_contact{
    height:100%;
}

#form_grid{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:10% 10% 45% 15%;
    height:50%;
    
}

#form_grid input{
    width:80%;
}

#form_grid input, #form_grid #mess{
    
    border: 1px solid #dde1e5;
    background: #ffffff;
    font-family: 'robotolight_italic';
    color: #969ca5;
}

#form_grid #mess{
    width:95%;
    overflow: auto;
    text-align: left;
    resize: none;
}

#form_grid #send_message{
    border: none;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    font-family: 'robotobold';
    background-color: #ffc000;
    width:30%;
    height:100%;
    
}

#form_grid #send_message:hover{
    background-color: #656a6f;
    
}

/* -------- post -------- */

#full_post{
    height:3100px;
    margin:0;
    width:600px;
    
}


#content_post{
    
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
        
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:4% 92% 4%;
    grid-template-areas:
    "header "
    "text"
    "footer";
}

#text_post{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:80% 20%;
}

#post_img{
    width:100%;
}

#contact1 h6{
    font-family: 'robotobold';
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0px;
    position: relative;
    color: #ffc000;
    margin-top:-20px;
}

#contact1 img{
    border:5px solid white;
}

#contact1 h4{
    font-family: 'robotobold';
    font-weight: normal;
    font-size:24px;
    color: #2d3438;
}

#contact1 .bold_span{
    
    
    color:#656a6f;
    font-family:'robotobold';
    font-size:24px;

}

#block{
    display:flex;
    flex-direction: column;
}

#block1 img{
    width:100%;
}

/* -------- styles -------- */

#full_styles{
    height:2000px;
    margin:0;
    width:600px;
    
}


#content_styles{
    
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
        
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:6% 88% 6%;
    grid-template-areas:
    "header "
    "text"
    "footer";
}

#text_styles{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:55% 45%;
}

#yellow{
    color:#ffc000;
}

#contact1 h3{
    font-family:'robotobold';
    font-size:28px;
    font-weight: normal;
    line-height: 100%;
    color: #2d3438;
    letter-spacing: -1px;
}

#contact1 h5{
    font-family:'robotobold';
    font-size:24px;
    font-weight: normal;
    line-height: 100%;
    color: #2d3438;
    letter-spacing: -1px;
}

#contact2 ol{
    font-family: 'robotobold';
    color:#ffc000;
}

#styles_side_img{
    width:100%;
}

/* -------- fonts -------- */

@font-face {
    font-family: robotobold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoblack;
    src: url(Roboto-Black.ttf);
}

@font-face{
    font-family: aleoitalic;
    src: url(Aleo-Italic.ttf);
}

@font-face {
    font-family: robotoregular;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: robotolight_italic;
    src: url(Roboto-LightItalic.ttf);
}

