/*http://make-lemonade.co/themes/selfy/index.html


w wyzszych query dac wieksze height w #full

 */


 body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f5;
 }

#full{
    height:1575px;
    margin:0;
    width:600px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    
}

#box1{
    margin:0;
    background-image: url('box1_back.jpg');
    background-repeat: no-repeat;

    background-position: 50% 50% ;
    background-size:cover;
}

#content{
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
    
    display:grid;
    grid-template-columns: 60% 5% 25%;
    grid-template-rows:15% 80%;
    grid-template-areas:
    "header header header "
    "text text .";
}

#header{
    grid-area:header;
    display:grid;
    grid-template-columns:30% 10% 60%;
    grid-template-rows:100%;
    grid-template-areas:
    "logo . menu";
    border-bottom:1px solid #cad2d7;
}

#logo{
    grid-area:logo;
   
}


#menu{
    grid-area:menu;
    font-family: 'robotobold';
    font-size: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}

#menu .active{
    background-color: #ffc000;
    color: #fff;
    
}

#menu a:hover{
    background-color: #656a6f;
    color: #fff;
}

#menu a,  #text a, .small_art a, #footer a{
    text-decoration: none;
    color:#2d3438;
    font-family: 'robotobold';
    font-weight: normal;
    
}

#menu a{
    padding: 0.3em 1.2em;
    border-radius: 3px;
    height:30px;
}

#text a{
    padding:0px;
}

#text a:hover{
    color:#ffc000;
}

#text{
    grid-area:text;
    margin-left:15px;
    
}

#text h1{
    font-family:'robotoblack';
    font-size: 72px; 
    color: #fff;
    font-weight: normal;
    letter-spacing: -2px;
    word-wrap: break-word;
}

#text h3{
    font-family: 'aleoitalic';
    letter-spacing: 0;
    color:#e2e2e2;
    font-size: 28px;
    margin-bottom:0px;
    word-wrap: break-word;
}

#text h5{
    color: #fff;
    margin-top:0px;
    font-family: 'robotobold';
    font-weight: normal;
    word-wrap: break-word;
    font-size: 24px;
}

#text p{
    word-wrap: break-word;
    font-family: 'robotoregular';
    font-size: 18px;
    color: #fff;
}





/* -------- part 2 -------- */

#content2{
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
    justify-content: center;
    align-items: center;;
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 80%;
    grid-template-rows: 30% 30% 30%;

}

.small_art{
    margin-bottom: 30px;
}

.small_art h2{
    font-family: 'robotobold';
    font-weight: normal;
    font-size: 36px;
    color: #2d3438;
    margin-top:15px;
    word-wrap: break-word;
}

.small_art p{
    font-family: 'robotoregular';
    font-size: 16px;
    color: #656a6f;
    word-wrap: break-word;
}

.small_art a{
    
    padding-top: 5px;
    padding-bottom: 8px;
    position: relative;
    padding-left: 22px;
}

.small_art a:hover{
    
    color:#ffc000;
    
}

.small_art a::before{
    content: "➝";
    /* U+279D */

    font-size: 16px;
    left: 3px;
    top: 6px;
    position: absolute;
    cursor: pointer;
    color: #ffc000;
}

.small_art h2::after{
    content: ".";
    font-size: 56px;
    position: relative;
    padding-left: 3px;
    color: #ffc000;
    font-family: 'robotobold';
    font-weight: normal;
}



/* -------- foooter -------- */


#footer{
    grid-area:footer;
    border-top: 1px solid #cad2d7;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    
    
}

#footer_top{
    margin-top:30px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

#footer_top img{
    height:31px;
    width:31px;
   
}

#footer_bottom{
    margin-top:30px;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#footer_bottom img{
    height:19px;
    width:45px;
    
}

#foot_span{
    font-family:'robotoregular';
    font-size:16px;
    color:#9fa6aa;
    
}

#footer img:hover{
    filter: blur(1px) brightness(20%);

}

/* -------- about -------- */

#content_about{
    
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
        
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:9.8% 77% 10%;
    grid-template-areas:
    "header "
    "text"
    "footer";
    
}

#full_about{
    height:1575px;
    margin:0;
    width:600px;
    
    
}

#text_about{
    grid-area:text;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    margin-top:5px;
}

#img_about img{
    width: 100%;
    border: 5px solid white;
}

#text_about_lower h1{
    font-family: 'robotobold';
    font-weight: normal;
    font-size:66px;
}


#text_about_lower h1::after{
    content: ".";
    font-size: 56px;
    position: relative;
    padding-left: 3px;
    color: #ffc000;
    font-family: 'robotobold';
    font-weight: normal;
}

#secondary_about{
    font-size: 24px;
    line-height: 32px;
    font-family: 'aleoitalic';
}

#paragraphs_about{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 50%;
}

#paragraphs_about p{
    color: #656a6f;
    font-family:'robotoregular';
    font-size:16px;
    line-height:24px;

}

/* -------- gallery -------- */


#full_gallery{
    height:5600px;
    /* 2900 */
    margin:0;
    width:600px;
    
    
}


#content_gallery{
    
    width:100%;
    height:100%;
    padding:5px;
    margin:5px;
        
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:2% 95% 3%;
    grid-template-areas:
    "header "
    "text"
    "footer";
    
}


#text_gallery{
    grid-area:text;
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-top:5px;
}

.small_text_gallery{
    display:flex;
    
    
    flex-direction:column;
}

#text_gallery img{
    width:100%;
    border:5px solid white;
    margin-top:15px;
}

#text_gallery div h2{
    font-family:'robotobold';
    font-size:36px;
    font-weight: normal;
    line-height: 100%;
    color: #2d3438;
    letter-spacing: -1px;
}

#text_gallery div h2::after{
    content: ".";
    font-size: 56px;
    position: relative;
    padding-left: 3px;
    color: #ffc000;
    font-family: 'robotobold';
    font-weight: normal;
}

#text_gallery div .secondary_gallery{
    color: #3c4a52;
    font-family: 'aleoitalic';
    font-size:24px;
    line-height: 32px;
    word-wrap: break-word;
}

#text_gallery div p{
    font-family:'robotoregular';
    font-size:16px;
    line-height:24px;
    color:#656a6f;
    word-wrap: break-word;
}

#text_gallery div p a{
    text-decoration: none;
    padding-top:8px;
    padding-bottom: 8px;
    position: relative;
    padding-left: 22px;
    color:#3c4a52;
    font-family:'robotobold';
    font-size:16px;

}

#text_gallery div p a:hover{
    color:#ffc000;
}

#text_gallery div p a::before{
    content: "➝";
    /* U+279D */

    font-size: 16px;
    left: 3px;
    top: 6px;
    position: absolute;
    cursor: pointer;
    color: #ffc000;
}


/* -------- fonts -------- */

@font-face {
    font-family: robotobold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoblack;
    src: url(Roboto-Black.ttf);
}

@font-face{
    font-family: aleoitalic;
    src: url(Aleo-Italic.ttf);
}

@font-face {
    font-family: robotoregular;
    src: url(Roboto-Regular.ttf);
}
