#full{  
    width:100%;
    grid-template-rows: 60% 40%;
    
}

#content{
    display:grid;
    grid-template-columns: 20% 40% 5% 15% 20%;
    grid-template-rows:15% 80%;
    grid-template-areas:
    ". header header header ."
    ". text text . .";
}

#logo{
    margin-left:20px;
    margin-top:20px;
}

#logo img{
    height:80%;
}

#header{
    margin-bottom:50px;
    margin-top:10px;
    display:grid;
    grid-template-columns:50% 60%;
    grid-template-rows:100%;
    grid-template-areas:
    "logo menu";
}

#menu{
    margin-left:-20px;
    margin-right:-20px;
    margin-top:25px;
}

#text{
    margin-top:130px;
}

#over_box2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box2{
    width:60%;
}

#content2{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
}

#footer{
    display:grid;
    grid-template-columns:25% 65% 10%;
    grid-template-rows:90%;
    grid-template-areas: 
    "footer_bottom . footer_top";
}

#footer_top{
    grid-area:footer_top;
}

#footer_bottom{
    grid-area:footer_bottom;
}

/* -------- about -------- */

#full_about{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center; 
}

#content_about{
    width:60%;
}

#text_about{
    grid-area:text;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
    margin-top:5px;
}

#paragraphs_about{
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
}

/* -------- gallery -------- */

#full_gallery{
    width:100%;
    height:2600px;
    display:flex;
    justify-content: center;
    align-items:center; 
}

#content_gallery{
    width:70%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:6% 88% 6%;
    grid-template-areas:
    "header "
    "text"
    "footer";
}

.big_text_gallery{
    display:grid;
    grid-template-columns:40% 60%;
    grid-template-rows:100%;
}

#gallery_picture_first{
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 33% 33% 33%;
}

#gallery_picture_second{
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "p1 p1"
    "p2 p3";
}

#text_gallery #gallery_picture_second #p1{
    grid-area: p1;
   height:100%;
   width:95%;
   
}

#text_gallery #gallery_picture_second #p2{
    grid-area:p2;
    height:80%;
    margin-top:15px;
    width:90%;
}

#text_gallery #gallery_picture_second #p3{
    grid-area:p3;
    height:80%;
    margin-top:15px;
    width:90%;
}

#text_gallery img{
    width:95%;
    border:5px solid white;
    margin-top:0px;
    margin-left:20px;
}

#text_gallery #gallery_picture_first{
    width:97.5%;
}