body{
    display:flex;
    justify-content:center;
    margin:0;

}

#box{
    width:500px;
    height:900px;
    background-color: rgb(59, 59, 59);
    display:grid;
    grid-template-columns: [start] 100% [end];
    grid-template-rows: 15%  40% 45%;
    grid-template-areas:
    "menu"
    "list"
    "current";
}

.cont{
    width:100%;
}



/* -----  menu -----*/



#menu{
    
    background-color: #181715;
    border-bottom:9px solid rgb(172, 155, 152);
    text-align:right;
    padding-top:10px;
    grid-area:menu;
    
}

#titleMenu{
    color:mistyrose;
    font-size:25px;
    margin:0;
    margin-right:15px;
    font-family:Verdana;    
     
    
}

#hrefMenu{
    
    display:none;
    width:100%;
    height:100px;
    
}

.linkMenu{
    margin-bottom:5px;
    text-decoration: none;
    color:mistyrose;
    font-size:20px;
    font-family:Tahoma;

}

.linkMenu:hover{
    background-color:#3b3a37;
}

  

#menu:hover > #hrefMenu{
    display:flex;
    flex-direction: column;
}

#menu:hover > #titleMenu {
    border-bottom:1px solid rgb(172, 155, 152);
}



/* ----- mail list -----*/



#list{
    
    overflow: auto;
    grid-area:list;
   
}

.single{
    
    width:100%;
    height:200px;
    border-bottom:1px solid gray;
    background-color: #302e2a;
}

.single p{
    margin:0;
    font-family:Tahoma;
    color:mistyrose;
    
}

#headSingle{
    font-size:20px;
    margin-left:5px;
    text-decoration: underline;
}

#contSingle{
    margin-left:12px;
    font-size:16px;
}



/* ----- current mail ----- */



#current{
    
    background-color:#181715;
    grid-area:current;
}

#current p{
    color:mistyrose;
    margin:0;
}

#headCurrent{

    font-family:Geneva;
    font-size:40px;
    border-top:9px solid rgb(172, 155, 152);
    border-bottom:3px solid rgb(172, 155, 152);
    text-align: center;
    text-decoration: underline;
}

#contCurrent{

    font-family:Tahoma;
    padding:5px;
}


/* TODO: wysuwane menu ma nie przesuwać maili, tylko je zasłaniać */
/* TODO: poprawić wygląd style900 */
/* TODO: dodać więcej tych media query */