#box{
    width:900px;
    height:1620px;
    
    grid-template-columns: 15% 35% 50%;
    grid-template-rows:  100%;
    grid-template-areas:
    "menu   list    current";
}

#list{
    border-top:9px solid rgb(172, 155, 152);
}

#menu{
    border-bottom:0;
}