#box{
    width:900px;
    height:1620px;
    
    grid-template-columns: 30% 70%;
    grid-template-rows:  30% 70%;
    grid-template-areas:
    "menu   list"
    "menu current";
}

#list{
    border-top:9px solid rgb(172, 155, 152);
}

#menu{
    border-bottom:0;
    
}

#current{
    border-left: 1px solid darkorchid;
}